body{
   background-color: cornsilk;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

#hours{
   font-size: 10em;
}

#selectLabel{
   font-size: 2em;
}

#select{
   padding: 5px;
   text-align: center;
   border-radius: 20px;
   background-color: bisque;
}